<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smiler.basketball_scoreboard">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:name=".ScoreboardApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false"/>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.PrefActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SecondaryTheme">
        </activity>
        <activity
            android:name=".results.ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/SecondaryTheme">
        </activity>
        <activity
            android:name=".profiles.ProfilesActivity"
            android:label="@string/title_activity_profiles"
            android:theme="@style/SecondaryTheme">
        </activity>
        <activity
            android:name=".help.HelpActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_help"
            android:theme="@style/SecondaryTheme">
        </activity>

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             com.smiler.basketball_scoreboard.App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>